{% extends "base.html" %}

{% block title %}
About Kiip At It
{% endblock %}
{% block title_bar %}

{% endblock %}


{% block bonus_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/about_wallpaper.css') }}">
{% endblock %}

{% block score_bar %}

<h1 align = "center" style = "font-family: Lora; font-style: italic; font-weight: bold">
    About Kiip At It:
</h1>
<h3 align = "center" style = "font-family: Lora; font-size: 1.1rem; font-weight: bold">
    The thought process that went into making this website
</h3>
{% endblock %}

{% block main_content %}
<div align = "center" style = "justify-content: center; width: 100%; font-family: Garamond; font-size: 0.8rem">
    <p style = "width: 100%">
        This website was created with the idea of being able to scroll back and look at all the progress you have done and come so far. Every time I would create a to-do list, as soon as I am done checking off that to-do list, I would delete or throw it away entirely.
        After the to-do list has been thrown away, I will not be able to look back, and see all the things that I have done. On days where I feel like I have not been productive, I want to be able to scroll back through my life, see a rainbow of colours, and see how far I have come, and
        how I have to keep at it.
    </p>
    <p style = "width: 100%">
        I feel that in life, there are 2 lists. A list of things you want to do and have done, and another list of regrets; things that you can no longer do. My goal as life continues is to continue adding to the list of things I want to do, and to continue checking
        off things that I have done. This website is my way of bringing that goal to fruition. With this website, it will be easy to add to the list of things that I want to do, and as I check off each item in the list, the big number at the top gets bigger, and I keep
        progressing with my life. I keep at it.
    </p>
    <p style = "width: 100%">
        There may be days where you might not want to do anything; where you want to just lie in bed all day. On low days such as those, even the smallest of victories count, be it getting out of bed to get a new glass of water, or even taking a quick shower.
        Every little step is still a step forward in life, and that counts for something. That is why I have not made a lower limit on the length of text for each task you input into the website, nor have I made the amount of progress done easily accessible.
        The main point is that any progress, is still progress. You can also choose to break down a task into simpler tasks, have more entries, and more completed tasks. That is perfectly fine. A key concept in computer science is "Divide and Conquer", and the main goal is to keep at it.
    </p>
    <p style = "width: 100%">
        This website is not meant to help people be productive, to plan tasks ahead. There will be functionality added for those down the line, but the main idea for this website is to encourage people, to keep at it.
    </p>

    <p style = "width: 100%">
        Welcome to V1 of Kiip At It. // TO DO: add music, add functionality, add flair
    </p>

</div>
{% endblock %}