{% extends "base.html" %}
{% block title%}
    Kiip At It!
{% endblock %}

{% block bonus_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home_wallpaper.css') }}">
{% endblock %}

{% block title_bar %}
    <h1 align = "center" style = "position: relative; top: 30%; font-family: Raleway; font-weight: bold;"">
        Welcome to Kiip At It, {{variables['user'].username}}!
    </h1>
{% endblock %}

{% block score_bar %}
    <p> 
        You have done {{variables["completed"]}} tasks! Kiip at it!
    </p>
{% endblock %}

{% block main_content %}
<ul id = "list" class = "list-group list-group-flush" style = "max-height: 100%; width: 100%;" onload = "scrollTop = 0">
    {% for note in variables['user'].notes %}
        {% set colour = 15*((variables["total"] - loop.index0) % 180) %}
        {% if note.completed == true %}
        <li data-aos="fade-in" class = "list-group-item d-flex justify-content-between align-items-center" style = "text-shadow: 1px 1px black; background-color: rgba(255,255,255,0); color: hsl({{colour}}, 35%, 70%); width: 100%; text-decoration: line-through;" onclick = "toggle_completed({{ note.id }})">
            {{note.content}}
            <button type = "button" class = "btn-close btn-close-white" onclick = "delete_note({{note.id}})">
                <span aria-hidden = "true"></span>
            </button>
        </li>
        {% else %}
        <li data-aos="fade-in" class = "list-group-item d-flex justify-content-between align-items-center" style = "text-shadow: 1px 1px black; background-color: rgba(255,255,255,0); color: hsl({{colour}}, 35%, 70%); width: 100%;" onclick = "toggle_completed({{note.id}})">
            {{note.content}}
            <button type = "button" class = "btn-close btn-close-white" onclick = "delete_note({{note.id}})">
                <span aria-hidden = "true"></span>
            </button>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block buttons %}
<a id = "pop_up_btn" onclick = "toggle_popup()" align = center class = "btn btn-outline-secondary" style = "position: relative; top: 1.5vh; background-color: rgba(46, 49, 49, 0.7)">
    Enter new task
</a>
{% endblock %}

{% block pop_up %}
<form method = "POST" style = "height: 100%;">
    <textarea name = "note" id = "note" class = "form-control" style = "height: 90%; background-color: rgba(108, 122, 137, 0.9);" contenteditable = "true"></textarea>

    <br />
    
    <div class = "form group" style = "display: none;">
        Date
    </div>

    <button type = "submit" class = "btn btn-secondary" style = "background-color: rgba(46, 49, 49, 0.8)" align = center>
        Add Task
    </button>
</form>
{% endblock %}

{% block encouragement_bottom %}
<div>
    Any progress is still progress
</div>
{% endblock %}