<!DOCTYPE html>

<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles_grid.css') }}">
        <title>
            Kiip at it!
        </title>
    </head>

    <main>
        <body>
            <div id = "title_bar">
                Kiip at it!
            </div>
    
            <div id = "score_bar">
                1 task done!
            </div>
    
            <div id = "motivational_left">
                uncle iroh quote 1
            </div>
    
            <div id = "motivational_right">
                "tatakae - eren yeager"
            </div>
    
            <div id = "encouragement_bottom">
                Any progress is still progress
            </div>
    
            <div id = "main_list">
                0th: Start using this website
            </div>
        </body>
    </main>

    <!-- <script src = "scripts.js">
    </script> -->
</html>